<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>問題操作完了</title>
	<meta charset="UTF-8" />
</head>
<body>
	<th:block th:if="${mode=='delete'}">
		<div class="message">
			<p class="back_to_top_message">削除が完了しました。</p>
		</div>
	</th:block>
	
	<th:block th:if="${mode=='restore'}">
		<div class="message">
			<p class="back_to_top_message">復元が完了しました。</p>
		</div>
	</th:block>
	
	<th:block th:if="${mode=='create'}">
		<div class="message">
			<p class="back_to_top_message">完了しました。</p>
		</div>
	</th:block>
	
	<p class="btn"><a th:href = "@{/question}">一覧表示に戻る</a></p>
	<p class="btn"><a th:href = "@{/mypage}">マイページに戻る</a></p>

</body>
</html>