<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>確認画面</title>
	<meta charset="UTF-8" />
</head>

<body>
	<h3>問題操作確認</h3>
	
	<p class="center"> 以下の内容でよろしいですか？</p>
<!--		<div class="delete">-->
			<table class="qcheck">
			<tr>
				<th class="cat">カテゴリー</th>
				<td class="input" th:switch="${question.category}">
					<span th:case="1">Java</span>
					<span th:case="2">Spring</span>
					<span th:case="3">HTML</span>
					<span th:case="4">SQL</span>
				</td>
			</tr>
			<tr>
<!--				<div class="form">-->
				<th class="dif">難易度</th>
				<td class="input" th:switch="${question.difficulty}" style="color: #FFB11B;">
					<span th:case="1">★☆☆</span>
					<span th:case="2">★★☆</span>
					<span th:case="3">★★★</span>
<!--				</div>-->
				</td>
			</tr>
			
			<tr>
<!--			<div class="form">-->
				<th class="que">問題文</th>
				<td class="input" th:text="${question.questionText}"></td>
<!--			</div>-->
			</tr>
			
<!--				<div class="label"> </div>-->
			<tr>
<!--			<div class="form">-->
				<th class="opA">選択肢A</th>
				<td class="input" th:text="${question.optionA}"></td>
<!--			</div>-->
			</tr>
			
			<tr>
<!--			<div class="form">-->
				<th class="opB">選択肢B</th>
				<td class="input" th:text="${question.optionB}"></td>
<!--			</div>-->
			</tr>
			
			<tr>
<!--			<div class="form">-->
				<th class="opC">選択肢C</th>
				<td class="input" th:text="${question.optionC}"></td>
<!--			</div>-->
			</tr>
			
			</table>
		</div>
	 <th:block th:if="${mode == 'create'}">
		<form th:action="@{/question/regist/complete}" method="post">
			<input type="hidden" name="questionId" th:value="${question.questionId}">
			<input type="hidden" name="category" th:value="${question.category}">
			<input type="hidden" name="difficulty" th:value="${question.difficulty}">
			<input type="hidden" name="questionText" th:value="${question.questionText}">
			<input type="hidden" name="optionA" th:value="${question.optionA}">
			<input type="hidden" name="optionB" th:value="${question.optionB}">
			<input type="hidden" name="optionC" th:value="${question.optionC}">
			<input type="hidden" name="correctOption" th:value="${question.correctOption}">

			<div class="inputform">
<!--				<div class="label"></div>-->
				<div class="inputselect">
					<input type="submit" th:value="登録、更新を完了する" />
				</div>
			</div>
		</form>
	</th:block>

	<th:block th:if="${mode == 'delete'}">
		<form th:action="@{/question/delrest/complete}" method="post">
			<input type="hidden" name="questionId" th:value="${question.questionId}">
			<input type="hidden" name="mode" th:value="delete"/>

			<div class="inputform">
<!--				<div class="label"></div>-->
				<div class="inputselect">
					<input type="submit" value="削除を完了する" />
				</div>
			</div>
		</form>
	</th:block>
	
	<th:block th:if="${mode == 'restore'}">
			<form th:action="@{/question/delrest/complete}" method="post">
				<input type="hidden" name="questionId" th:value="${question.questionId}">
				<input type="hidden" name="mode" th:value="restore"/>

				<div class="inputform">
	<!--				<div class="label"></div>-->
					<div class="inputselect">
						<input type="submit" value="復元を完了する" />
					</div>
				</div>
			</form>
		</th:block>

	<div style="margin-top: 20px;">
		<p class="btn"><a onclick="history.back()">前の画面に戻る</a></p>
		<p class="btn"><a th:href="@{/question}">一覧表示に戻る</a></p>
	</div>

</body>
</html>