<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>問題登録｜更新画面</title>
	<meta charset="UTF-8" />
</head>

<body>
	<h3>問題登録</h3>
	<div class="update">
		<form th:action="@{/question/update/check}" method="post"th:object="${question}">
<!--		<form th:action="${question.questionId == null} ? @{/question/regist/check} : @{/question/update/check}" method="post"th:object="${question}">-->
<!--			 入力チェックアノテーションにエラーがある場合 -->
			<th:block th:if="${#fields.detailedErrors()}">
				<div class="error"  th:errors="*{questionText}"></div>
				<div class="error"  th:errors="*{optionA}"></div>
				<div class="error"  th:errors="*{optionB}"></div>
				<div class="error"  th:errors="*{optionC}"></div>
			</th:block>

			

			<div class="form">
				<div class="label">カテゴリー:</div>
				<div class="qccheck">
					<select class="category" th:field="*{category}">
						<option th:value="1">Java</option>
						<option th:value="2">Spring</option>
						<option th:value="3">HTML</option>
						<option th:value="4">SQL</option>
					</select>
				</div>
			</div>
			
			<div class="form">
				<div class="label">問題文:</div>
				<div class="qccheck">
					<textarea type="text" th:field="*{questionText}" />
				</div>
			</div>
			
			<div class="form">
				<div class="label">選択肢A:</div>
				<div class="qccheck">
					<input type="text" th:field="*{optionA}" />
				</div>
			</div>
			
			<div class="form">
				<div class="label">選択肢B:</div>
				<div class="qccheck">
					<input type="text" th:field="*{optionB}" />
				</div>
			</div>
			
			<div class="form">
				<div class="label">選択肢C:</div>
				<div class="qccheck">
					<input type="text" th:field="*{optionC}" />
				</div>
			</div>
			
			<div class="form">
				<div class="label">難易度:</div>
				<div class="qccheck">
					<select class="category" th:field="*{difficulty}" style="color: #FFB11B;">
						<option th:value="1">★☆☆</option>
						<option th:value="2">★★☆</option>
						<option th:value="3">★★★</option>
					</select>
				</div>
			</div>
			
			<div class="form">
				<div class="label">正解の選択肢:</div>
				<div class="qccheck">
					<select class="category" th:field="*{correctOption}">
						<option th:value="1">1</option>
						<option th:value="2">2</option>
						<option th:value="3">3</option>
					</select>
				</div>
			</div>
			
			<div class="form">
				<div class="label"></div> 
				<div class="qccheck">
					<input type="hidden" th:field="*{questionId}" th:if="*{questionId != null}">
					<input type="submit" th:value="*{questionId == null} ? '新規作成' : '更新'">
				</div>
			</div>
			
		</form>
		
		<p class="btn">
			<a href="javascript:history.back()">前の画面に戻る</a>
		</p>
		<p class="btn">
			<a th:href="@{/question}">一覧表示に戻る</a>
		</p>
		
	</div>
</body>

</html>