<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>新規登録｜プロスタ</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<header class="site-header">
  <div class="header-inner">
    <a href="./" class="logo">
      <img th:src="@{/images/prostawh.jpg}" alt="logo" class="header_logo_img">
    </a>
  </div>
</header>
<main class="main-content">
  <form method="post" th:action="@{/regist/check}" th:object="${customerForm}">
    <div class="con">
      <header class="head-form">
        <h2>Sign Up</h2>
        <p>Please write your username and password</p>
      </header>
      <p class="error-text">
        <span th:each="error:${#fields.detailedErrors()}">
          <span th:text="${error.message}"></span><br />
        </span>
        <span th:text="${errMessage}"></span>
      </p>
      <div class="input-group">
        <div class="input-flex">
          <span class="input-item"><i class="fa-solid fa-circle-user"></i></span>
          <input class="form-input" id="txt-input" type="text" name="userName"
                 placeholder="@UserName" required>
        </div>
      </div>
      <div class="input-group">
        <div class="input-flex">
          <span class="input-item"><i class="fa-solid fa-key"></i></span>
          <input class="form-input" type="password" placeholder="@Password"
                 id="pwd" name="userPass" required>
          <i class="fa-solid fa-eye-slash" aria-hidden="true" type="button" id="eye"></i>
        </div>
      </div>
      <button type="submit" class="sign-up">
        Sign Up <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="other">
      <button type="button" th:onclick="|location.href='@{/login}'|" class="log-in">Back</button>
    </div>
  </form>
</main>
<footer>
  <div class="container">
    <a href="./" class="logo">PROSTA</a>
    <p class="copyright">Copyright &copy; 2026 Prosta All Rights Reserved.</p>
  </div>
</footer>
<script>
var pwShown = 0;
document.getElementById("eye").addEventListener("click", function () {
  var p = document.getElementById('pwd');
  var eye = document.getElementById('eye');
  if (pwShown === 0) {
    pwShown = 1;
    p.setAttribute('type', 'text');
    eye.className = 'fa-solid fa-eye';
  } else {
    pwShown = 0;
    p.setAttribute('type', 'password');
    eye.className = 'fa-solid fa-eye-slash';
  }
}, false);
</script>
</body>
</html>