<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<aside th:fragment="layout-sidebar"
       th:class="${session.user == null or session.user.permission == 2} ? 'search' : 'admin_menu'">
  <div class="title">MENU</div>
  <div>
    <ul style="list-style:none; padding-left:0;">
      <li class="sbt">
        <a th:href="@{/mypage}"><span>MyPage</span></a>
      </li>
      <li class="sbt">
        <a th:href="@{/test/category}"><span>カテゴリ別問題</span></a>
      </li>
      <li class="sbt">
        <a th:href="@{/test/diagnostic}"><span>苦手範囲特定問題</span></a>
      </li>
      <li class="sbt">
        <a th:href="@{/question/regist/input}"><span>新規問題登録</span></a>
      </li>
      <li class="sbt">
        <a th:href="@{/question}"><span>問題検索</span></a>
      </li>
      <li class="sbt">
        <a th:href="@{/achievement}"><span>実績一覧</span></a>
      </li>
    </ul>

    <div class="search">
      <div>名前あいまい検索</div>
      <form th:action="@{/user/list/text}" method="post">
        <div class="input">
          <input type="text" name="userName" />
          <input type="submit" value="検索" />
        </div>
      </form>

      <div>権限検索</div>
      <form th:action="@{/user/list/permission}" method="post">
        <div class="input">
          <select class="permission" name="permission">
            <option value="1">一般</option>
            <option value="2">管理者</option>
          </select>
          <input type="submit" value="検索" />
        </div>
      </form>

      <div>削除済みユーザー検索</div>
      <form th:action="@{/user/list/delete}" method="post">
        <div class="input">
          <select class="deleteFlag" name="deleteFlag">
            <option value="false">アクティブ</option>
            <option value="true">削除済み</option>
          </select>
          <input type="submit" value="検索" />
        </div>
      </form>
    </div>
  </div>
</aside>
</body>
</html>