<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新規登録｜プロスタ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<header class="site-header">
		<div class="header-inner">
 	  	    <a href="./" class="logo"> <img th:src="@{/images/prostawh.jpg}" alt="logo" class="header_logo_img"> </a>
 	    </div>
 </header>
 
<body>
	<main class="main-content">
		
    <form method="post" th:action="@{/regist/check}" th:object="${customerForm}">
       <div class="con">
       <header class="head-form">
          <h2>Sign Up</h2>
          <p>Please write your username and password</p>
       </header>
       <div th:object="${customerForm}">
    <p class="error-text">
		<!-- 入力チェックアノテーションにエラーがある場合 -->
			<span th:each="error:${#fields.detailedErrors()}">
			<span th:text="${error.message}"></span><br />
			</span>
		<!-- ログイン失敗の場合 -->
			<span th:text="${errMessage}"></span>
		</p>
		
           <div class="input-group">
		       <div class="input-flex">
       	           <span class="input-item">
                     <i class="fa-solid fa-circle-user"></i>
                   </span>
                   <input class="form-input" id="txt-input" type="text" name="userName" placeholder="@UserName" required>
       	       </div>
       	       <div class="error-text" id="username-error"></div>
           </div>
          
           <div class="input-group">
		       <div class="input-flex">
      		       <span class="input-item">
         	          <i class="fa-solid fa-key"></i>
       	 	       </span>
                   <input class="form-input" type="password" placeholder="@Password" id="pwd"  name="userPass" required>
		           <i class="fa-solid fa-eye-slash" aria-hidden="true" type="button" id="eye"></i>
		       </div>
               <div class="error-text" id="password-error"></div>
           </div>
          <button type="submit" class="sign-up"> Sign Up
			   <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
		  </button>
       </div>
      
       <div class="other">
          <button type="button" th:onclick="|location.href='@{/login}'|" class="log-in">Back</button>
       </div>
         
      </div>
    </form>
    </main>

	<footer>
        <div class="container">
            <a href="./" class="logo">PROSTA</a>
	 		<p class="copyright">Copyright © 2026 Prosta All Rights Reserved.</p>
        </div>
    </footer>
	 
    <script>
    function show() {
        // 1. パスワードの文字を見せる
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
        
        // 2. 目のアイコンを「普通の目」にする
        var eye = document.getElementById('eye');
        eye.className = 'fa-solid fa-eye';
    }

    function hide() {
        // 1. パスワードの文字を「●●●」に隠す
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
        
        // 2. 目のアイコンを「斜線付きの目」にする
        var eye = document.getElementById('eye');
        eye.className = 'fa-solid fa-eye-slash';
    }

    // 初期値は「0（最初から隠す状態）」
    var pwShown = 0; 

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1; // 状態を「見れる」にする
            hide();      
        } else {
            pwShown = 0; // 状態を「隠す」にする
            show();
        }
    }, false);	 
    </script>
	 
</body>
</html>