<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
    <title>ユーザー情報更新</title>
    <meta charset="UTF-8" />
</head>

<body>

<h3>ユーザー情報入力</h3>

<form th:action="@{/user/update/check}" method="post"  th:object="${user}">
	
	
	<span th:each="error:${#fields.detailedErrors()}">
		<span th:text="${error.message}" class="error"></span>
	</span>
	<span th:text="${err}" class="error"></span>
	
	<div class="inputform">
    	<table>

       		<tr>
            	<th>ユーザー名</th>
            	<td>
                	<input type="text" th:field="*{userName}">
            	</td>
        	</tr>

        	<tr>
            	<th>パスワード</th>
           		<td>
                	<input type="password" th:field="*{userPass}">
             	</td>
        	</tr>

        	<tr th:if="${session.user.permission==2}">
            	<th>権限</th>
            	<td>
                	<select class="permission" th:field="*{permission}">
                    	<option value="1">一般</option>
                    	<option value="2">管理者</option>
                	</select>
           		</td>
       		</tr>

    	</table>
    </div>
    
	<input type="hidden" name="userId" th:value="${user.userId}">
	<input th:if="${session.user.permission==1}" type="hidden" name="permission" th:value="${user.permission}">
	<input type="hidden" name="deleteFlag" th:value="${user.deleteFlag}">
	
	<div class="inputform">
		<div class="inputselect">
    		<input type="submit" value="確認">
    	</div>
    </div>
</form>

	<div th:if="${session.user.permission==1}">
		<form th:action="@{/mypage}" method="get">
		<div class="inputform">
		<div class="inputselect">
			<input type="submit" value="戻る">
		</div>
		</div>
	</div>
</form>


<div th:if="${session.user.permission==2}">
	<form th:action="@{/user/list}" method="get">
		<div class="inputform">
		<div class="inputselect">
			<input type="submit" value="戻る">
		</div>
		</div>
	</form>
</div>

</body>
</html>